
<% @actions.each do |action| %>
  <% if User.find(action.user_id).name == "Adam" %>
  <div class="action-row">
  	<div class="user">
  		<div class = "img">
  			<% user = User.find(action.user_id) %>
    		<% avatar = getUserImage(user.name) %>
    		<% if avatar != nil %>
    			<%= image_tag image_url(avatar) %>
    		<% end %>
  		</div>
  		<h3> <%= user.name %> </h3>
  	</div>

		<div class="app">
			<% icon = getAppIcon(action.title) %>
			<% if icon != nil %>
				<%= image_tag image_url(icon) %>
			<% end %>
	    <h3> <%= action.title %> </h3>
		</div>
	</div>
  <% end %>
<% end %>

<% if @actions.length == 0 %>
	<h2> Nobody is sharing right now </h2>
<% end %>
