<% @actions.each do |action| %>
    <div class="row">
    	
		<div class="app">
			<% icon = getAppIcon(action.title) %>
			<% if icon != nil %>
				<%= image_tag image_url(icon) %>
			<% end %>
	    	<h3> <%= action.title %> </h3>
		</div>
	</div>
  <% end %>

<% if @actions.length == 0 %>
	<h2> Nobody is sharing right now </h2>
<% end %>