<h1>Actions#show</h1>
<p>Find me in app/views/actions/show.html.erb</p>

<%= @actions.length %>
<div class="actions">
  <% @actions.each do |action| %>
    <img> </img>
    <p> <%= action.title %> </p>
  <% end %>
</div>