<h1>Downloads </h1>
<h4> Android </h4> 
<%= link_to "sharingAndroid.apk", "../sharingAndroid.apk" %>
<h4> Windows </h4>
<%= link_to "sharingWindows.zip", "../sharingWindowsV1.1.zip" %>
<h4 > Mac </h4>
<%= link_to "MacLocalSharing.app.zip", "../MacLocalSharing.app.zip" %>

<h1> Usage Instructions </h1>

<h3> Android </h3> 
<p> Note: you may need to change your Settings to allow 3rd party applications. This is
under: </p>
<p> Settings->Security->Unknown Sources </p>
<p> After installing the Android application click on the three dots in the top right to access settings, where you will type your email and password and click "get authentication token". This starts the sharing process. </p>
<p> The android application will share the name of your application whenever
you're connected to DGP wifi regardless of whether the app is open or not. It shares your application every 10 seconds. </p>

<h3> Windows </h3>
<p> After downloading extract and run setup.exe this installs SharingWindows as an application on your computer </p>
<p> After launching the application go to the Settings in the top right and follow these configuration steps: </p>
<ol>
	<li> Click Set Wifi Network </li> 
	<li> Type in your username and password and click get auth token </li>
	<li> It should then say you're Posting Data below the buttons </li>
	<li> Press back in the top left and log in on the main page to view others application usage </li>
</ol>
<p> Leaving your configured Wifi Network (could be DGP or U of T whichever you've clicked Set Wifi Network on) will stop the app sharing. Whenever you close the app it also stops sharing. </p>
<p> I recommend adding the app to your automatic startup programs so you always remember to use it. </p>

<h3 > Mac </h3>
<p> After downloading run MacLocalSharing.app to launch the application. Input your login credentials and the app will automatically start sharing. This app doesn't have any UI for viewing (just use the website local-experiences.herokuapp.com), and doesn't do any WIFI checks. </p> 
<p> Closing the app stops the sharing </p>
<p> Add this app to your automatic start-up programs so you always remember to use it </p>

<br/>
<br/>