/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	font-family: arial;
	color: #333333;
}

h1, h2 {
	text-align: center;
	margin-bottom: 60px;
}

.user img {
	max-height: 100px;
	width: auto;
	display: inline-block;
}

.app img {
	height: 100px;
	width: auto;
	display: inline-block;
	margin-bottom: 10px;
}

.actions h3 {
	display: inline-block;
}

.app {
	display: inline-block;
	height: 100px;
	margin-left: 100px;
}

.user {
	display: inline-block;
	height: 120px;
	margin-left: 100px;
	margin-right: 40px;
	text-align: center;
}

.user p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.app h3 {
	vertical-align: top;
	margin-top: 32px;
	margin-bottom: 0px;
	font-size: 30px;
	margin-left: 16px;
	}

.row {
	margin-bottom: 30px;
}

@media (max-width: 960px) {
  .container {
    width: 480px;
  }
  .app {
  	margin-left: 20px;
  }
  .app {
  	margin-left: 20px;
  }
  
  .user {
  	margin-right: 20px;
  	margin-left: 50px;
  }
}


ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}